// КОРЗИНА
@keyframes zoom {
	0% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}

.basket {
    height: 400px;
    background-image: url(./pictures/basket.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top_content_catalog {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &_content {
        grid-column: span 8;
    }

    &_name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &_item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
    }

    &_left {
        display: flex;
        gap: 32px;
    }

    &_info {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: 276px;
    }

    &_input {
        background: #F7F6F6;
        border-radius: 6px;
        border-style: none;
        width: 71px;
        height: 51px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    &_text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
    }

    &_money {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #050505;
    }

    &_link-box {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 210%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        gap: 30px;
    }

    &_name {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

    }
    
    &_link-text {
        color: #000000;
        text-decoration-line: none;
        &:hover {
            text-decoration: underline;
        }
    }



    &_button {
        width: 200px;
        height: 37px;
        display: block;
        font-style: normal;
        font-weight: 400px;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000000;
        border-radius: 50px;
        color: #000000;
        &-box {
            display: flex;
            gap: 7px;
            margin-top: 18px;
        }
        &-form{
            align-self: center;
            width: 290px;
        }
        &:hover {
            transition: all 0.4s;
            animation: zoom 0.5s ease-out 0s 1 normal forwards;
            background: #000000;
            color: #FFFFFF;
        }
    }
       
}
.form {
        padding-top: 42px;
        padding-left: 27px;
        padding-right: 32px;
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;

        &_box {
            padding-top: 32px;
            display: flex;
            flex-direction: column;
            gap: 41px;

        }
        
        &_heading{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #000000;
        }
        &_left {
            transition: all 0.3s;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 5px #ccc;
            }
        }
        &_item {
            transition: all 0.3s;
            outline: none;
            padding-bottom: 3px;
            border: none;
            border-bottom: 1px solid #CACDD8;
            background: transparent;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            &::placeholder {
                color: #000000;
            }
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 5px #ccc;
            }
        }

        &_result {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            text-align: center;
            margin-top: 23px;
            margin-bottom: 18px;
        }
}


